body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}

.board{
  background-color: red;
  height: 100vh; 
  overflow: hidden;

  background-color: white;
}

.canvas{
  display: block;
  background-color: orange;
  position:absolute;
  bottom:0;
  top:0;
  left:0;
  right:0;


  background-color: white;
}

.target-box{
  opacity: 0.5;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;

  background-color: white;
  opacity : 1;
}

.target-core{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;

  background-color: black;
}

.log-box{
  background-color: #fafafa;
  overflow-y: scroll;
  font-size: 8px;

  display : none
}

.startBtn{
  position: absolute;
  left: 40vw;
  bottom: 10vh;
  width: 20vw;
  padding: 10px;
  text-align: center;
  z-index : 5;
  background-color: black;
  color: white;
}

.inputBox{
  z-index : 5;
  position: absolute;
  left: 30vw;
  bottom: 20vh;
  width: 40vw;
  padding: 10px;
  font-size: 20px;
}